.hero {
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroungimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  padding-top: 0;
  padding-bottom: 0;
}