.logo {
  color: $link-color;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header__logo {
  color: #000;
}
.footer__logo {
  display: block;

  margin-bottom: 20px;
}
.footer__logo-color {
  color: $background-color;
}